@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=PT+Sans&family=Poppins:ital@1&family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: PT Sans;
    width: 1360px;
    height: auto;
}

.grid__3-9 {
    display: grid;
    grid-template-columns: 2.5fr 9.5fr;
}

.container-left {
    padding: 20px 20px;
    background-color: rgb(26, 25, 25);
    /* width: 100%; */
    height: 100%;
    border: 1px solid #666;
}

.container-left-wrapper {
    margin-bottom: 170px;
}

.container-left-item {
    display: flex;
    margin-bottom: 10px;
}

.container-left-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgb(131, 128, 128);
}

.name {
    color: rgb(211, 204, 204);
    margin-top: 6px;
}

.container-left-item input {
    padding: 8px 14px;
    font-size: 14px;
    font-family: PT Sans;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 20px;
    color: rgb(211, 204, 204);
}

.search, .down {
    font-size: 18px;
    position: relative;
    left: -26px;
    top: 7px;
    color: rgb(224, 216, 216);
    z-index: 10;
    margin-right: 10px;
}

.down {
    color: rgb(70, 68, 68);
}

.container-left-item button {
    display: block;
    padding: 8px 14px;
    font-size: 16px;
    font-family: PT Sans;
    width: 250px;
    background-color: rgb(7, 158, 7);
    border: none;
    outline: none;
    border-radius: 20px;
    color: rgb(59, 58, 58);
    display: flex;
    margin-bottom: 20px;
}

.icon {
    color: rgb(158, 156, 156);
    margin: 7px 10px 0 0; 
}

.margin-bot {
    margin-bottom: 30px;
}

.margin-top {
    margin-top: 30px
}

.container-left-bot {
    margin-top: 90px;
}

.container-left-bot button {
    width: 250px;
    padding: 8px;
    color: yellow;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid yellow;
}

.container-left-bot button:hover {
    cursor: pointer;
}

.started {
    margin-top: 10px;
    color: rgb(207, 206, 204);
    padding: 6px 4px;
}

.started:hover {
    cursor: pointer;
    background-color: rgb(107, 105, 105);
}

.hover:hover {
    cursor: pointer;
    background-color: rgb(107, 105, 105)
}

.hover {
    padding-bottom: 4px;
    padding-left: 5px;
}

.img-screen {
    /* width: 100%; */
    height: 50%;
}

.img-screen img {
    width: 100%;
    height: 100%;
}

.note {
    margin: 0 20px;
    position: absolute;
    top: 300px;
    width: 72%;
}

.grid__8-4 {
    display: grid;
    grid-template-columns: 68% 31.5%;
    gap: 20px;
}

.note-left, .note-right {
    background:rgb(34, 33, 33);
    padding: 15px 10px;
    border-radius: 10px;
}

.note-right {
    background-color: rgb(46, 38, 38);
}

.note-left-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgb(231, 226, 226);
}

.note-left-header i{
    margin: 0 6px;
    font-size: 15px;
}

.note-left-header-left {
    display: flex;
}

.note-left-header-left i {
    margin: 4px 0 0 12px;
    position: relative;
    left: 800px;
}

a {
    text-decoration: none;
    color: rgb(177, 172, 172);
}

.note-left-nav {
    margin-top: 15px;
}

.note-left-nav span {
    margin-right: 20px;
}

.note-left-nav span:hover {
    color: rgb(228, 224, 224);
}


.active {
    color: rgb(7,158,7);
    text-decoration: underline;
}

.note-left-content {
    width: 100%;
}

.grid__1-1-1-1 {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1.1%;
}

.note-left-content-item {
    background-color: rgb(46, 46, 46);
    margin-top: 20px;
    color: rgb(177, 172, 172);
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 300;
    min-height: 250px;
    padding: 15px;
    border-radius: 6px;
}

.note-left-content-item div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    left: 33%;
    font-size: 26px;
    background-color: rgb(7,158,7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgb(22, 22, 22);
}

.note-left-content-item h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    font-size: 14px;
    padding: 10px 0;
}

.note-left-content textarea {
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    border: none;
    outline: none;
    margin: 10px;
}

.container-right {
    background-color: black;
}

.note-captured {
    position: relative;
    top: 260px;
    margin: 0 20px;
    color: rgb(46, 46, 46);
}

.menu {
    display: flex;
    float: right;
    position: relative;
    right: -510%;
    top: -2px;
}

.note-captured-content {
    width: 100%;
    height: 280px;
}

.note-captured-content i, .note-captured-content p, .note-captured-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 15%;
}

.note-captured-content i {
    font-size: 35px;
    color: rgb(7,158,7);
    background-color: rgb(102, 101, 100);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.note-captured-content p {
    font-size: 17px;
    color: rgb(177, 176, 176);
    padding: 15px 0;
}

.color {
    background-color: rgb(46, 46, 46);
    position: relative;
    top: -40px;
}

.note-captured-content button {
    padding: 12px 18px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgb(177, 172, 172);
    background-color: rgb(37, 37, 37);
    border-radius: 6px;
}

.note-captured-content a {
    color: rgb(7,158,7);
}

